/*/*/*/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SKILLS CSS STYLE
* 06.RESUME CSS STYLE
* 07.SERVICE CSS STYLE
* 08.WORK CSS STYLE
* 09.TESTIMONIAL CSS STYLE
* 10.CONTACT CSS STYLE
* 11.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: EB Garamond;
}

a {
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}


img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 60px 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
/*    text-transform: capitalize;
*/    font-size: 40px;
    color: #000;
}

.section-title p {
    font-weight: 300;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 8px solid #F5F5F5;
    border-right: 8px solid #F5F5F5;
    border-bottom: 8px solid #F5F5F5;
    border-left: 8px solid #000;
    border-radius: 50%;
    -webkit-animation: spinner 1000ms infinite linear;
    animation: spinner 1000ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area-1 {
    position: sticky;
    margin-top:10px;
    width:100%;
    height: 100%;
    background: url(../images/bg/rocks2.jpg)no-repeat;
    background-size: cover;
    z-index: -1;
}
.welcome-image-area-2 {
    position: relative;
    height: 100%;
    background: url(../images/bg/torch.jpg);
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-3 {
    position: relative;
    height: 100%;
    background: url(../images/bg/self-love.jpg);
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-4 {
    position: relative;
    height: 100%;
    background: url(../images/bg/vision.jpg);
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-5 {
    position: relative;
    height: 100%;
    background: url(../images/bg/service1.jpg);
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-6 {
    position: relative;
    height: 100%;
    background: url(../images/bg/monkey1.jpg);
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-7 {
    position: relative;
    height: 100%;
    background: #fff;
    background-size: cover;
    z-index: 1;
}
.welcome-image-area-1:after,
.welcome-image-area-2:after,
.welcome-image-area-3:after,
.welcome-image-area-4:after {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    padding: 0px 50px;
    margin-top: 50px;
}

.header-text img {
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #fff;
}
.header-text h3,
.header-text h4 {
    color:#fff;
}
.header-text h2 {
    color: #fff;
    font-size: 120px;
    font-weight: 900;
}

.header-text p {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height:115px;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .29);
}

.logo {
    display:block;
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
}
/*----logo-----sp--*/
.logo #logo {
    width:60px;
    position: relative;
    top:-20px;

}

.vision {

}
.vision-center {
    text-align:center;
}
.vision-bar {
    margin-top:-3px;
}
.mainmenu {
    margin-top:-20px;
}
.mainmenu .navbar-right  {
    margin-top:-3px;
    width:100%;
    display:inline-block;
}
.navbar-right li {
    float:none;
    display:inline-block;
}
.mainmenu .navbar-right li .mainMenu {
    color: #000;
    font-size: 10px;
    padding: 10px 12px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
   
}

.mainmenu .navbar-right li .mainMenu:hover,
.mainmenu .navbar-right li .mainMenu:active {
    color: #ca232b;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: none;
    border-bottom:2px solid #ca232b;
   
}


.menu-bg .mainmenu .navbar-right li.active a {
    color: #ca232b;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: none;
}

.navbar-right li a:focus,
.navbar-right li a:hover,
.navbar-right li a:active {
    background: none;
    color: #ca232b;
    border-bottom:2px solid #ca232b;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .mainmenu .navbar-right li a {
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

/* menubar*/
#menuBar {
    position: relative;
    top: 5px;
    display: inline-block;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
    display: none;
}
.bar1 {
    transform:rotate(-55deg);
    position: relative;
    top:4px;
    left:1px;
    color:#000;
    animation-name:barDown;
    animation-duration:0.5s;
    
}
@keyframes barDown {
    from {transform:rotate(0deg);}
    to{transform:rotate(-55deg);}
}
#menuBar > .bar{
    margin:3px;
    width:15px;
    height:2px;
    background-color:#000;
    border-radius:5px;
}
.bar2 {
    display:none;
}
.bar3 {
    transform:rotate(55deg);
    position: relative;
    top:-1px;
    left:1px;
    animation-name:barUp;
    animation-duration:0.5s;
}
@keyframes barUp {
    from {transform:rotate(0deg);}
    to{transform:rotate(55deg);}
}


/*---------Home------------sp--*/
#sectionHeight {
    text-align:center;
    margin-top:-10px;
    background:#ede7d2;

}
.sectCenter {

}
.gallery {
  position:relative;
  margin:15px;
  max-width: 400px;
  display:inline-block;
}

/*div.gallery:hover {
  border: 1px solid #777;
}*/

.gallery img {
  width: 100%;
  height: 300px;
  display:block;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(202, 35, 43, 0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(202, 35, 43, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.overlay3 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background:rgba(202, 35, 43, 0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.gallery:hover .overlay1 {
  width: 100%;
}
.gallery:hover .overlay2 {
  height: 100%;
}
.gallery:hover .overlay3 {
  width: 100%;
  left:0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*---------Vision----------sp--*/
.vision {
   
}
.vision1 {
    position: relative;
}
.vision2 .vision-header {
    background:#303748;
}

.vision2 .ul-overflow li:hover {
    background:#ddd;
}
/*------End Vision---------sp--*/

/*------coaching--------------sp----*/

.img-right {
    float:right;
}
div.gallery {
  border: 1px solid #ccc;
  opacity:0.7;
}

div.gallery:hover {
  border: 1px solid #777;
  opacity:1;
}

div.gallery img {
  width: 100%;
  height: 220px;
}

div.desc {
  padding: 5px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
#service {
    text-align:center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.3%;
}

.coach-page p, 
.coach-page h3,
.coach-page ol li {
    margin:20px 0;
}
#faqs a {
    color:blue;
}
#faqs a:hover {
    font-size:15.2px;
    border-bottom:1px solid blue;

}


/*------------testimonials section------------sp---*/
#testimonials .borderL {
    margin:25px 0;
}

/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-me-area {}

.about-image {}

.slideBar {
    position:relative;
    width:30%;
    padding:0;
    margin:0;
}

.about-text  {
    background:none;
    display:inline-block;
    position: relative;
    top:0;

}
.about-text ul {
    margin-left:30px;
}
.about-text ul li {
    margin-bottom: 15px;
    color: #000;
    padding: 5px 15px;
    border-radius: 30px;
}


/*----------about.html----------------sp---*/
#about .bottomline a {
    color:blue;

}
#about .bottomline a:hover {
    border-bottom:1px solid blue;
    font-size:15.2px;
}
.welcome-area-1 {
    height:10%;
}
#whatwedo {
    padding-top:130px;
}
.sectionInfo-2 {
    margin-top:-120px;
    text-align: left;
}
.bottomline a {
    border-bottom:2px solid lightblue;
}
#moving-mount  {
    padding-top:130px;
    background:#fff;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active {
    background:orange !important;
}
.bottomMenu {
    width:100%;
    background:rgba(236, 234, 234, 0.1);
    border-bottom:1px solid #ddd;
    font-size:15px;
}


/*---------------self-love------------sp---*/
#self-love img {
    margin:20px 0;
}



/*-------our focus----sp---*/

#our-focus {
    padding-top:120px;
}
.borderL {
    border-left:3px solid #ddd;
    padding-left:10px;
    text-align:left;
}
.leftBorder {
    text-align:left;

}
.serviceBackgroundColor {
    width:100%;
    background:#f5f5f5;
    position: relative;
    z-index: 9;
}

/*
* ----------------------------------------------------------------------------------------
* 05.SKILLS CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*-----services.html-----sp--*/

.backgroundSect-1 {
    background:#F7F7F7;
    padding:10px;
}
.backgroundSect-2 {
    padding:10px;
}
.aboutSect {
    position: relative;
    margin-bottom:65px;
    width:100%;
}
.aboutSect h3 {
    margin-top:-30px;
    margin-bottom:30px;

}

.aboutSect p {
    line-height:24px;
}
.navbar-left {
    position: absolute;
    left:-15px;
    margin-top:-60px;
}
.navbar-left li {
    color:#ca232b;
    display:inline-block;
    padding:10px 10px 10px 0;
    margin-top:40px;
    margin-right:20px;
}
.navbar-left li:hover {
    color:#ca232b;
    border-bottom:none;
    font-weight:bold;
}

#heart {
    padding-top:120px;
}
.sectionInfo-2   {  
    text-align: center;
    margin-top:-40px;
}
.rockInfo-2 {
    margin-top:-20px;
}
.rockInfo-3 {
    text-align:left;
}
.rockInfo-3 a{
    border-bottom:1px solid #337ab7;
}
#our-team,
#consultancy,
#workshop {
    padding-top:120px;
}


/*
* ----------------------------------------------------------------------------------------
* 07.services.html  sp
* ----------------------------------------------------------------------------------------
*/

/*.service-area {
    background: #f7f7f7;
}

.single-service i {
    font-size: 40px;
    margin-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 80px;
    float: left;
    margin-right: 25px;
    margin-bottom: 50px;
}

.single-service h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 700;
}

.single-service p {
    color: #232323;
}*/
.service {
    overflow: hidden;
}
.serviceBackgroundColor {
    width:100%;
    height:500px;
    padding:20px 30px;
    background:#f5f5f5;
    overflow:auto;
    position: relative;
    z-index: 9;
}
.serviceBackgroundColor p {
    margin:0px;
}

.services-figure-block {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:-20px;
}
.services-figure-block > div {
    padding-left: 0;
    padding-right: 0;
}
.tv-block-padding {
    padding: 85px 30px;
}
.tv-gray-bg {
    position: relative;
    top:10px;
    background:#ddd;
}

.tv-services {
    min-height: 150px;
    transition: all 300ms ease-in-out 0s;
}
.tv-service.services-content {
    color: #000000;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    background:none;
    margin-top:35px;
}
.tv-service.services-content h3{
    padding-bottom:2px;
}

.tv-service-image {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 600ms ease-in-out 0s;
    width: 100%;
    height: 100%;
}
.tv-image-head {
    display: none;
}
.tv-service.services-content:hover {
    background:orange;
}
.tv-service.services-content:hover h3 {
    border-bottom:1px solid #000;
    color:#ca232b;

}

.tv-displaytablecell > h3 {
    text-transform: none;
}
.description > p {
    color: #2b2b2b;
    font-size: 1.18em;
    font-style: italic;
    line-height: 20px;
    margin: 0;
}
.tv-text-desc > p {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
}



/*---------coaching page--------sp--*/
.iconArrow {
    width:40px;
    position: fixed;
    top:100px;
    margin:20px;
    z-index: 999;


}

.iconArrow i {
    font-size:25px;
    opacity: 0.8;
    transition:0.2s;
}
.iconArrow i:hover {
    opacity:1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.coachingPage {
    width:100%;
    margin:0 auto;
    text-align:center;
}

.coachingPage .sectionLeft {
    width:30%;
    text-align: left;
}
.sectionLeft span {
    text-align: left;
}
#and {
    padding-left:20px;
}
.borderL {
    border-left:3px solid #ddd;
    margin:20px 0;
}
.coachingPage .sectionInfo {
    width:100%;
    text-align:left;
}
.sectionInfo p {
    text-align: center;
}
.sectionInfo-para {
    text-align:left;
}
.sectionInfo-para p {
    margin:0 60px;
}
#coaching {
    padding-top:120px;
}
.coachingPage img {
    width:30px;
    height:30px;
    transition:ease-in .5s;
}
.coachingPage img:hover {
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
}
.coachingPage .sectionInfo  p {
    text-align:left;
}

.rockInfo {
    position: relative;
    top:0;
}
.rockInfo .borderLeft {
    padding-left:10px;
    border-left:3px solid #ddd;
}

.flip-box-front {
    text-align:center;
}
.flip-box img {
    width:50%;
    height:300px;
    margin:10px;
}



/*---------------trek----------------sp---*/

#trek {
    padding-top:120px;
}
#trek p {
    text-align:left;
}
.trek  .trekImg {
    float:left;
    width:80%;
    height:100%;
    margin:0 30px 10px 10px;
}
.sectionInfo .trekImg {
    width:800px;
    height:600px;
    margin:10px;
}
.sectionInfo ul {
    margin-left:20px;
}
.sectionInfo ul li {
    display:block;
    text-align:left;
}


/*
* ----------------------------------------------------------------------------------------
* 08.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work {}

.work-inner .mix {
    display: none;
}

ul.involved {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    margin-top:-40px;
}
.slideshow-header {
    margin-top:-30px;
}

ul.involved li {
    display: inline-block;
    padding-bottom: 4px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #938d8d;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

ul.involved li:hover {
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
}

ul.involved li.active {
    color: #000;
}

.involved .item {
    padding: 0;
    margin: 0;
}

.involved .col-md-4 {
    padding: 0;
    margin: 0;
}

.involved figure.effect-ruby img {
    height: auto;
    width: 100%;
}

.involved .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.involved .grid figure:hover {
    background: rgba(0, 0, 0, .1);
}

.involved figure.effect-ruby h2 {
    margin-top: 20%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    display: inline-block;
    color: #fff;
}

.involved figure.effect-ruby p {
    font-size: 14px;
    text-transform: capitalize;
    border: none;
    padding: 0;
    margin: 5px 0px;
}

.involved figure.effect-ruby p strong {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5px;
}

.involved .item:hover figure.effect-ruby h2 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* 09.breathe in   sp
* ----------------------------------------------------------------------------------------
*/
#breatheIn {
    padding-top:120px;
}
#breatheIn img {
    width:500px;
    height:300px;
}
#breatheIn .sectionInfo p {
    margin:10px 20px;
}
.testimonial-area {
    background: #f7f7f7;
}

.testimonial-list {

}

.single-testimonial h2 {
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 700;
}

.single-testimonial h3 {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 0;
}

.single-testimonial p {
    line-height: 25px;
}
.single-testimonial .paraOrange {
    color:orange;
    margin-top:10px;
}
.single-testimonial .paraGreen {
    color:#70b149;
    margin-top:10px;


}
.single-testimonial .paraBlue {
    color:#0c303c;
    margin-top:10px;

}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #000;
}


/*
* ----------------------------------------------------------------------------------------
* 10.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-me-area {
    background: #f7f7f7;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    background: none;
    padding: 15px 25px;
    border: 1px solid #000;
    font-size: 14px;
    border-radius: 0px;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000;
    text-transform: capitalize;
    border-radius: 30px;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}



/*---------------fulfillment-----------sp----*/
.iconArrow2 {
    width:40px;
    position: fixed;
    margin:20px;
    z-index: 999;
}
.fulfillmentSection {
    margin:0;
}
.fulfillment {
    margin-top:40px;
}
.bottomPara {
    margin-top:-40px;
}
.bottomPara p {
    margin:0 20px;
}

/*------------bodistra-----------------sp---*/
#bodistra {
    width:100%;
    margin:0 auto;
}
.para-color img {
    width:80%;
    height:400px;
    margin:20px;
}
.para-color p {
    margin:10px;
    position: relative;
    top:200px;
}
.para-color-last p {
   margin-top:0;
}

.para-color {
    margin:0px;
}
.para-wrap {
    background:#f2a901;
}


/*------------gallery--------------------sp---*/

/*.carousel-inner img {
    width:100%;
    max-height:600px;
}*/

#picImages img {
    width:100%;
    height:400px;
}
#picImages {
    position:relative;
}

#picImages .right,
#picImages .left {
    
    position: relative;
    top:45%;
    z-index: 10;
    width:20px;
    height:50px;
    background:#ddd;
    opacity:.2; 
    margin-top:10px;   
}

#picImages .right {
    position:absolute;
    right:0;
}

#picImages .left {
    position:absolute;
    left:0;
}
#picImages  {

}

#picImages .right:hover,
#picImages .left:hover {
    cursor:pointer;
    opacity:.5;

}

/*
* ----------------------------------------------------------------------------------------
* 11.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    padding: 5px 0px;
    background:#fff;
}

.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    font-size: 18px;
    color: #222222;
    margin: 10px 5px;
    display: block;
}

.header-links ul li a {
    color: #000;
    background: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    font-size: 14px;
    transition:ease-out .7s;
}

.header-links ul li a:hover {
    color: #fff;
    background:#ca232b;
}

.footer-area p {
    margin-bottom: 0;
    font-size: 14px;
    color: #222222;
}
*/*/*/